*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black !important;
}

a{
    margin-left: 90%;
    text-decoration: underline !important;
}

a:hover{
    text-shadow: lightgreen 0 2px 2px;
    filter: blur(1px);
}

p{
    margin-left: 5%;
    text-align: left;
}

h1{
    font-family: 'Goldman', cursive;
}

#title1{
    visibility: visible;
}

#title2{
    visibility: visible;
}

#div_about{
    width: 60%;
}

#_img{
    width: 50%;
    border-radius: 5%;
    /* visibility: hidden; */
    margin-left: 45% !important;
}

#particles-js{
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

@media only screen and (max-width: 600px){
    *{
        overflow-x: hidden;
    }
    a{
        margin: 85%;
    }
    #_img{
        visibility: hidden;
    }

    h1{
        font-size: xx-large !important;
    }
    div{
        width: 100% !important;
    }
}