*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black !important;
}

#_home{
    margin-left: 90%;
}

a{
    text-decoration: underline !important;
}

a:not(#_home){
    margin-left: 49%;
    margin-bottom: 2%;
}

a:hover{
    text-shadow: yellow 0 2px 2px;
}

p{
    text-align: center;
    margin-left: 30%;
    width: 41%;
}

h1{
    font-family: 'Goldman', cursive;
}

#particles-js{
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

@media only screen and (max-width: 600px){

    *{
        align-items: center;
    }
    h1{
        font-size: xx-large !important;
    }
    #_home{
        margin-left: 85% !important;
    }
    p{
        margin-left: 20%;
        width: 65%;
    }
};