*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black !important;
}

#_home{
    margin-left: 90%;
}

a{
    text-decoration: underline !important;
}

a:not(#_home){
    margin-left: 45%;
    margin-bottom: 2%;
}

a:hover{
    text-shadow: yellow 0 2px 2px;
}

p{
    margin-left: 30%;
    width: 40%;
}

@media only screen and (max-width: 600px){
    p{
        width: 60%;
    }
};

h1{
    font-family: 'Goldman', cursive;
}

#particles-js{
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}