*{
    margin: 0px;
    padding: 0px;
}

a{
    display: flex;
    width: 25%;
    top: 50%;
    margin: 25px;
    text-decoration: none;
    font-size: xx-large;
}

a:hover{
    color: red;
}

p{
    color:white;
    margin: 25px;
}

h1{
    font-family: 'Goldman', cursive;
}

#particles-js{
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

#h1-about{
    position: absolute;
    margin-top: 10%;
    margin-left: 15%;
    width: 350px;
    height: 100px;
    white-space: nowrap;
}

#h1-projects{
    position: absolute;
    margin-top: 25%;
    margin-left: 17%;
    /* margin-top: 300px;
    margin-left: 200px; */
    width: 400px;
    height: 100px;
    white-space: nowrap;
}

#h1-contact{
    position: absolute;
    margin-top: 40%;
    margin-left: 16.5%;
    width: 200px;
    height: 100px;
    white-space: nowrap;
}

#m_img{
    position: absolute;
    margin-top: 50px;
    margin-left: 100px;
    width: 150px;
    height: 150px;
}

@media only screen and (max-width: 600px){
    *{
        overflow-x: hidden;
    }
    h1{
        width: 80% !important;
        font-size: xxx-large !important;
    }
}