*{
    margin: 0px;
    padding: 0px;
}

a{
    display: flex;
    width: 25%;
    top: 50%;
    margin: 25px;
    text-decoration: none;
    font-size: xx-large;
}

a:hover{
    color: red;
}

p{
    color:white;
    margin: 25px;
}

h1{
    font-family: 'Goldman', cursive;
    align-items: center;
}

#particles-js{
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

#h1-about{
    position: absolute;
    font-size: 100pt;
    margin-top: 10%;
    margin-left: 35%;
    width:fit-content;
    height: 100px;
    white-space: nowrap;
    display: none;
    cursor: pointer;
}

#h1-projects{
    position: absolute;
    font-size: 100pt;
    margin-top: 20%;
    margin-left: 35%;
    /* margin-top: 300px;
    margin-left: 200px; */
    width: fit-content;
    height: 100px;
    white-space: nowrap;
    display: none;
    cursor: pointer;
}

#h1-contact{
    position: absolute;
    font-size: 100pt;
    margin-top: 30%;
    margin-left: 35%;
    width: fit-content;
    height: 100px;
    white-space: nowrap;
    display: none;
    cursor: pointer;
}

#m_img{
    position: absolute;
    margin-top: 50px;
    margin-left: 100px;
    width: 150px;
    height: 150px;
}

@media only screen and (max-width: 800px){
    *{
        overflow-x: hidden;
    }

    h1{
        position: relative !important;
        margin-left: 25% !important;
        margin-top: 5% !important;
        width: 80% !important;
        font-size: 46pt !important;
    }

    #h1-about{
        margin-top: 25% !important;
    }
}

@media only screen and (max-width: 500px){
    *{
        overflow-x: hidden;
    }

    h1{
        position: relative !important;
        margin-left: 15% !important;
        margin-top: 2% !important;
        width: 80% !important;
        font-size: 46pt !important;
    }

    #h1-about{
        margin-top: 50% !important;
    }
}