*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black !important;
}

h1{
    position: relative;
    font-family: 'Goldman', cursive;
}

p{
    position: relative;
    margin-left: 50%;
}

/* img{
    height: 400px !important;
    width: 720px !important;
    margin-left: 30%;
} */

#_home{
    padding-top: 50px;
    margin-left: 90%;
    text-decoration: underline !important;
}
            
#_home:hover{
    text-shadow: lightblue 0 2px 2px;
    filter: blur(1px);
}

#particles-js{
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

#item-active{
    justify-content: center;
    align-items: center;
    margin-left: 19%;
}

.carsousel-caption{
    /* margin-left: 50%; */
}

@media only screen and (max-width: 600px){
    *{
        overflow-x: hidden;
    }

    a{
        margin-left: 85% !important;
    }

    h1{
        font-size: xx-large !important;
    }
}