*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black !important;
}

a{
    padding-top: 50px;
    margin-left: 90%;
    text-decoration: underline !important;
}

a:hover{
    text-shadow: lightblue 0 2px 2px;
    filter: blur(1px);
}

h1{
    position: relative;
    font-family: 'Goldman', cursive;
}

p{
    position: relative;
}

#particles-js{
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}